<%- include('../partials/head'); %>

<h1>List</h1>

<p>Here are your albums in google photos.</p>

<% for(var i = 0; i < albums.length; i++) { %>
    <li>
        <a href="<%=albums[i].productUrl%>"><%=albums[i].title%></a>
    </li>  
<% } %>


<%- include('../partials/footer'); %>