<%- include('../partials/head'); %>

<h1>Menu</h1>

<p>You are now connected ! ! 🎉</p>
<p>You can use these features below : </p>
<ul> 
    <li><a href="/photos/list" target="_blank">List albums from my account</a> </li>
    <li><a href="/photos/upload/album" target="_blank">Upload album collection</a> </li>
</ul>

<%- include('../partials/footer'); %>