<%- include('../partials/head'); %>

<h1>Upload</h1>

<p>Every albums had been processed successfully. </p> 
<% if(existingReport){ %>
    <p>Check error report for more details.</p>
    <a href="/error_report.json" download>Download Report</a>
<% } %>

<%- include('../partials/footer'); %>