<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Upload</h1>
            
            <p>Every albums had been processed successfully. </p> 
            <% if(existingReport){ %>
                <p>Check error report for more details.</p>
                <a href="/error_report.json" download>Download Report</a>
            <% } %>            
        </div>
    </main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>